@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }
  *::after, *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }

html {
  font-size: 100%;
  font-family: "Lato", open-sans, sans-serif; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100vw;
  height: 65px;
  padding: 0 10vw;
  font-size: 1rem; }
  .navbar__nav {
    padding: 15px 0; }
    .navbar__nav--search {
      height: 100%;
      border-width: 1px;
      border-style: solid;
      border-color: #0081AF;
      border-radius: 10px; }
      .navbar__nav--search-bar {
        padding: 10px;
        height: 100%;
        width: 30vw;
        background: transparent;
        border-style: none;
        border-radius: 10px; }
        .navbar__nav--search-bar::-webkit-input-placeholder {
          color: #0081AF; }
        .navbar__nav--search-bar:-ms-input-placeholder {
          color: #0081AF; }
        .navbar__nav--search-bar::-ms-input-placeholder {
          color: #0081AF; }
        .navbar__nav--search-bar::placeholder {
          color: #0081AF; }
        .navbar__nav--search-bar:focus, .navbar__nav--search-bar:hover {
          outline: none; }
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .navbar__list--item {
      padding: 0 20px;
      list-style: none;
      text-transform: capitalize;
      border-bottom: 3px solid transparent; }
      .navbar__list--item:hover {
        border-bottom: 3px solid #00ABE7; }
    .navbar__list--link {
      display: inline-block;
      height: 100%;
      width: 80px;
      padding: 20px 0;
      color: #070707;
      text-decoration: none;
      text-align: center; }
      .navbar__list--link:active {
        color: #2DC7FF; }
      .navbar__list--link:hover {
        color: #00ABE7; }

.button {
  width: 260px;
  padding: 10px 10px;
  border: none;
  background-color: darkcyan;
  border-radius: 5px;
  margin: 10px 10px;
  color: #ecf0f1;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
