


.button {
    width: 260px;
        padding: 10px 10px;
        border: none;
        background-color: darkcyan;
        border-radius: 5px;
        margin: 10px 10px;
        color: #ecf0f1;
        font-size: 16px;
        cursor: pointer;
        transition: all 1s;
}